<html style="text-align: center; font-family: arial; padding-top: 10em">

<h2>
###NAME### has said Yeah-No
</h2>

<h1>
{{.}}
</h1>

<h2>
times.
</h2>

<script>

// AutoRefresher
setTimeout(function() {
  location.reload();
}, 60000);

</script>

</html>